# Python
*.pyc
__pycache__/
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
.pytype/
.ipynb_checkpoints
.ruff_cache/
.dvc/
.env

venv/
.venv/
env/
.env/

# Django-specific
*.sqlite3           
db.sqlite3          
/media/             
/static_collected/  
*.log               
local_settings.py   
.vscode/            
         

# Docker (if used)
.dockerignore       
docker-compose.override.yml 
*.env               
pokemon_raw_data.json

/frontend/build/
/frontend/node_modules/
